@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
.title {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  color: #184163;
  width: fit-content;
}

.message {
  text-align: center;
  align-content: center;
  font-size: 13px;
  color: #236DA9;
  font-family: 'Poppins';
}

.tick {
  height: 50px;
  width: 62px;
}

.photo {
  text-align: center;
}

div {
  text-align: center;
}

.btn-choose-1{
  border: 3px solid #f7d764;
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 280px;
  height: auto;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.confirm-text {
  font-family: 'Poppins';
  font-size: 12px;
}

.confirm-title {
  padding-top: 50px;
}
