@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,700&display=swap');
.title {
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #184163;
  width: fit-content;
}

.message {
  text-align: center;
  align-content: center;
  font-size: 15px;
  color: #236DA9;
  font-family: 'Poppins';
}

.photo {
  height: 150px;
  width: 150px;
}

.btn-choose-1{
  border: 3px solid #f7d764;
  background-color: #FFFFFF;
  border-radius: 30px;
  width: 280px;
  height: auto;
  text-decoration: none;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.main-recheck {
  height: 100%;
  width: 100%;
}
#bg {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  width: 100%;
  height: 100%;

  z-index:-5
}

.recheck-content {
  margin-top: 200px;
}
